
{{#ifCond (isUserIdSelf user) '||' (isGM) }}
<input id="open-spend-edge" type="button" class="chat-edge" value="Edge"/> 
{{/ifCond}}
<div class="chat-tooltip chat-edge-collapsible" style="display: none">
	<section>
		<div>
			<select id="edge-boost">
				{{#eachInMap config.edge_boosts }}
					{{# if (canUseEdgeBoost key "post" roll) }}
					<option value="{{key}}" title="{{ localizeDescription "edge_boost" (edgeBoostAsString key) }}" {{#if (eq ../roll.data.boost key)}}selected{{/if}}>{{ localizeName "edge_boost" (edgeBoostAsString key) }}</option>
					{{/if}}
				{{/eachInMap}}
			</select>
		</div>
		<input id="spend-edge" type="button" class="chat-edge" value="Spend"/>
	</section>
</div>