{{> "systems/sr6/templates/rolls/shared-header.html" action_text="Matrix Defend" }}

{{#if roll.success }}
	<i style="color: #006400">Defended Successfully!</i>
{{ else }}
	<a class="chat-formula-1" style="font-style: italic">
		{{#unless (isNull roll.damage)}}
		<div>Damage: <i style="font-weight: bold; color: rgb(194, 76, 29);">{{roll.damage}}</i></div>
		{{/unless}}
	</a>
	<br/>
	<div class="chat-tooltip chat-formula chat-formula-1-collapsible" style="display: none">
		
	</div>
{{/if }}
{{> "systems/sr6/templates/rolls/shared-footer.html"}}