{{> "systems/sr6/templates/rolls/shared-header.html" action_text=(concat "Matrix - " (localizeName "matrix_action" (matrixActionAsString roll.matrix_action_id))) }}
{{#unless (isNull roll.damage)}}
<a class="chat-formula-1" style="font-style: italic">
	Damage: <i style="font-weight: bold; color: rgb(194, 76, 29);">{{ roll.damage }}</i></a>
<br/>
<div class="chat-tooltip chat-formula chat-formula-1-collapsible" style="display: none">
	{{log roll.actor}}
	DV(PersonaAR({{roll.actor.matrix_persona.attributes.a}}) / 2 = {{roll.data.damage}}) + Hits({{roll.hits}}) = {{ roll.damage }}
</div>
{{/unless}}
{{#unless roll.isUserOwner }}
<input id="roll-matrix-defense" type="button" value="Roll Defense"/>
{{/unless}}
{{> "systems/sr6/templates/rolls/shared-footer.html" action_expand_text=(localizeDescription "matrix_action" (matrixActionAsString roll.matrix_action_id))}}