{{> "systems/sr6/templates/rolls/shared-header.html" action_text=(concat "Matrix - " (localizeName "matrix_action" (matrixActionAsString roll.matrix_action))) }}
<hr/>

{{#unless (isNull roll.damage)}}
<div>Damage: <i style="font-weight: bold; color: rgb(194, 76, 29);">{{roll.damage}}</i></div>
{{/unless}}
<input id="roll-matrix-defense" type="button" value="Roll Defense"/>
{{> "systems/sr6/templates/rolls/shared-footer.html" action_expand_text=(localizeDescription "matrix_action" (matrixActionAsString roll.matrix_action))}}