{{> "systems/sr6/templates/rolls/shared-header.html" action_text="Spell" }}
<div>
	<a class="chat-formula-1" style="font-style: italic">
		Damage: <i style="font-weight: bold; color: rgb(194, 76, 29);">{{ roll.damage }}</i></a>
	<br/>
	<div class="chat-tooltip chat-formula chat-formula-1-collapsible" style="display: none">
		DV({{roll.data.damage}}) + Hits({{roll.hits}}) = {{ roll.damage }}
	</div>

	<div class="chat-tooltip chat-item-collapsible" style="display: none">
	<section>
		<div>
			<hr/>
			<br/><div style="font-size: 10px">{{ roll.data.spell.system.description}}</div>
		</div>
	</section>
</div>
<hr/>
{{#unless roll.data.autoroll_drain}}
<input id="roll-spell-drain" type="button" value="Roll Drain"/>
{{/unless}}
<input id="roll-defense" type="button" value="Roll Defense"/>
{{> "systems/sr6/templates/rolls/shared-footer.html"}}