{{ log this }}
{{> "systems/sr6/templates/rolls/shared-header.html" action_text="Soak Damage" }}

{{#if roll.success }}
	<i style="color: #006400">Soaked Successfully!</i>
{{ else }}
 	<a class="chat-formula-1" style="font-style: italic">
		Took <i style="font-weight: bold; color: rgb(194, 76, 29);">{{ roll.damage }}</i> Damage
	</a>
	<br/>
	<div class="chat-tooltip chat-formula chat-formula-1-collapsible" style="display: none">
		Attack DV: (DV({{roll.attack_roll.data.damage}}) + Hits({{roll.attack_roll.hits}}) = {{ roll.attack_roll.damage}} <br/>
		Defended DV: (DV({{roll.attack_roll.damage}}) - Hits({{roll.defense_roll.hits}}) = {{roll.defense_roll.damage}} <br/>
		DV({{roll.defense_roll.damage }}) - Hits({{roll.hits}}) = {{ roll.damage }}
	</div>
{{/if }}
{{> "systems/sr6/templates/rolls/shared-footer.html"}}