$red: #90231e;
$light-red: #FFCCCB;

$purple: #b4107f;

$lighter-blue: rgba(240, 248, 255, 1);
$light-blue: rgba(185, 217, 235, 0.5);
$blue: #2b4b73;
$dark-blue: #384455;

$gold: #efaf61;
$orange: #f36c21;

$glitch: rgb(194, 76, 29);
$critical-glitch: rgb(215, 14, 233);

$green:  #006400;
$light-green: #E0FFE0;

:root {
	--highlight-color: #892378;
	--accent-color: #00a8ff;
	--section-background: #efefeb;
	--section-foreground: #000000;
	--tablehead-background: #e0e0d9;
	--input-color: #202020;
}
