<div id="base" class="section">
	<label for="system.rating">Rating</label>
	<input direct-data id="system.rating" type="number" value="{{item.system.rating}}" style="width: 2em" />
	<label for="system.size">Size</label>
	<select direct-data id="system.size">
		<option value="0" {{#if (eq item.system.size '0') }}selected{{/if}}>{{localize "size.0"}}</option>
		<option value="1" {{#if (eq item.system.size '1') }}selected{{/if}}>{{localize "size.1"}}</option>
		<option value="2" {{#if (eq item.system.size '2') }}selected{{/if}}>{{localize "size.2"}}</option>
		<option value="3" {{#if (eq item.system.size '3') }}selected{{/if}}>{{localize "size.3"}}</option>
		<option value="4" {{#if (eq item.system.size '4') }}selected{{/if}}>{{localize "size.4"}}</option>
		<option value="5" {{#if (eq item.system.size '5') }}selected{{/if}}>{{localize "size.5"}}</option>
		<option value="6" {{#if (eq item.system.size '6') }}selected{{/if}}>{{localize "size.6"}}</option>
		<option value="7" {{#if (eq item.system.size '7') }}selected{{/if}}>{{localize "size.7"}}</option>
		<option value="8" {{#if (eq item.system.size '8') }}selected{{/if}}>{{localize "size.8"}}</option>
		<option value="9" {{#if (eq item.system.size '9') }}selected{{/if}}>{{localize "size.9"}}</option>
		<option value="10" {{#if (eq item.system.size '10') }}selected{{/if}}>{{localize "size.10"}}</option>
	</select>
	{{#if (itemHas item "Cost") }}
		<label for="system.cost">Cost</label>
		<input direct-data id="system.cost" type="text" value="{{item.system.cost}}"  style="width: 5em" />
		{{ solveItemFormula item item.system.cost }}
	{{/if}}
	{{#if (itemHas item "SkillUse") }}
		<section style="border: 2px solid red; display: flex">
			<label for="system.skill_use.skill">Skill</label>
			<select direct-data data-type="number" id="system.skill_use.skill">
				{{#each config.skills as |skill skill_id| }}
					<option value="{{skill_id}}" {{#if (eq skill_id ../item.system.skill_use.skill)}}selected{{/if}}/>{{skillAsString skill_id}}</option>
				{{/each}} 
			</select>
			<select direct-data data-type="number" id="system.skill_use.specialization">
				{{#each (specializationsOfSkill item.system.skill_use.skill) as |specialization| }}
					<option value="{{specialization.id}}"  {{#if (eq specialization.id ../item.system.skill_use.specialization)}}selected{{/if}}/>{{specializationAsString specialization.id}}</option>
				{{/each}}
			</select>
		</section>
	{{/if}}
	<br/><label for="system.description">Description</label><br/>
	<textarea direct-data id="system.description" rows="10" cols="50">{{item.system.description}}</textarea>
</div>


{{#if (itemHas item "Capacity") }}
	<section style="border: 2px solid red; display: flex">
		<h3>Capacity<a class="remove-type fas fa-minus" data-remove-type="Capacity" title="Remove"></a></h3>
	</section>
{{/if}}

{{#if (itemHas item "Defense") }}
	<section style="border: 2px solid red; display: flex">
		<section>
			<h3>Defense<a class="remove-type fas fa-minus" data-remove-type="Defense" title="Remove"></a></h3>
		</section>
	</section>
{{/if}}


{{#if (itemHas item "Mountable") }}
	<section style="border: 2px solid red; display: flex">
		<section>
			<h3>Mountable<a class="remove-type fas fa-minus" data-remove-type="Mountable" title="Remove"></a></h3>
		</section>
	</section>
{{/if}}

{{#if (itemHas item "Explosive") }}
	<section style="border: 2px solid red; display: flex">
		<section>
			<h3>Explosive<a class="remove-type fas fa-minus" data-remove-type="Explosive" title="Remove"></a></h3>
		</section>
	</section>
{{/if}}
