<section style="border: 2px solid red; display: flex">
	<section>
		<h3>Weapon<a class="remove-type fas fa-minus" data-remove-type="Weapon" title="Remove"></a></h3>
		<label for="system.attack_formula">Attack Roll</label>
		<input direct-data id="system.attack_formula" type="text" value="{{item.system.attack_formula}}" style="width: 5em" />
		{{#if (itemHas item "Firearm") }}
		SS<input direct-data-array id="firemodes" type="checkbox" value="SS" {{#if (in 'SS' item.system.firemodes) }}checked{{/if}}/>
		SA<input direct-data-array id="firemodes" type="checkbox" value="SA" {{#if (in 'SA' item.system.firemodes) }}checked{{/if}}/>
		BF<input direct-data-array id="firemodes" type="checkbox" value="BF" {{#if (in 'BF' item.system.firemodes) }}checked{{/if}}/>
		FA<input direct-data-array id="firemodes" type="checkbox" value="FA" {{#if (in 'FA' item.system.firemodes) }}checked{{/if}}/>

		{{/if}}
		<table>
			<thead>
				<tr>
					<td style="text-align: center">Damage</td>
					<td style="text-align: center">Type</td>
					<td style="text-align: center">Form</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{{ solveItemFormula item item.system.damage }}
						<input direct-data id="system.damage" type="text" value="{{item.system.damage}}" style="width: 2em" />
					</td>
					<td>
						<select direct-data id="system.damage_type">
							<option value="Physical" {{#if (eq item.system.damage_type 'Physical') }}selected{{/if}}>Physical</option>
							<option value="Stun" {{#if (eq item.system.damage_type 'Stun') }}selected{{/if}}>Stun</option>
							<option value="Astral" {{#if (eq item.system.damage_type 'Astral') }}selected{{/if}}>Matrix</option>
							<option value="Matrix" {{#if (eq item.system.damage_type 'Matrix') }}selected{{/if}}>Astral</option>
						</select>
					</td>
					<td>
						<select direct-data id="system.damage_form">
							<option value="Physical" {{#if (eq item.system.damage_form 'Physical') }}selected{{/if}}>Physical</option>
							<option value="Stun" {{#if (eq item.system.damage_form 'Stun') }}selected{{/if}}>Stun</option>
							<option value="Astral" {{#if (eq item.system.damage_form 'Astral') }}selected{{/if}}>Matrix</option>
							<option value="Matrix" {{#if (eq item.system.damage_form 'Matrix') }}selected{{/if}}>Astral</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		
		<table>
			<tbody>
				<tr>
					<td>{{ solveItemFormula item item.system.attack_ratings.close }}</td>
					<td>{{ solveItemFormula item item.system.attack_ratings.near }}</td>
					<td>{{ solveItemFormula item item.system.attack_ratings.medium }}</td>
					<td>{{ solveItemFormula item item.system.attack_ratings.far }}</td>
					<td>{{ solveItemFormula item item.system.attack_ratings.extreme }}</td>
				</tr>
				<tr>
					<td><input direct-data id="system.attack_ratings.close" type="text" value="{{item.system.attack_ratings.close}}" style="width: 2em" /></td>
					<td><input direct-data id="system.attack_ratings.near" type="text" value="{{item.system.attack_ratings.near}}" style="width: 2em" /></td>
					<td><input direct-data id="system.attack_ratings.medium" type="text" value="{{item.system.attack_ratings.medium}}" style="width: 2em" /></td>
					<td><input direct-data id="system.attack_ratings.far" type="text" value="{{item.system.attack_ratings.far}}" style="width: 2em" /></td>
					<td><input direct-data id="system.attack_ratings.extreme" type="text" value="{{item.system.attack_ratings.extreme}}" style="width: 2em" /></td>
				</tr>
			</tbody>
		</table>
	</section>
</section>
