<form class="flexcol" autocomplete="off">
	<section>
		<div style="margin-right: 5px;">
			<div style="display: inline-block; width:100%;">
				<div class="section">
					{{> "systems/sr6/templates/dialogs/shared-header.html" header_text="Roll Defense" formula="Agility + Intuition" }}
						<div>Threshold to Defend: <i style="font-weight: bold">{{ roll.attack_roll.hits }}</i></div>
						<div>Damage: <i style="font-weight: bold">{{ roll.attack_roll.data.damage }}</i></div>
						<div>AR: <i style="font-weight: bold">{{ roll.attack_roll.data.attack_rating }}</i></div>
						<div>Defense Modifier: <i style="font-weight: bold">{{ roll.actor.system.effect_modifiers.defense }}</i><br/></div>
					{{> "systems/sr6/templates/dialogs/shared-footer.html" }}
				</div>
			</div>
		</div>
	</section>
</form>