<form class="flexcol" autocomplete="off">
	<section>
		<div style="margin-right: 5px;">
			<div style="display: inline-block; width:100%;">
				<div class="section">
					{{> "systems/sr6/templates/dialogs/shared-header.html" header_text="Matrix Action" action_text=(localizeName "matrix_action" (matrixActionAsString roll.matrix_action)) }}
				
					<div style="width: 150px">{{localizeDescription "matrix_action" (matrixActionAsString roll.matrix_action)}}</div>
					
					{{> "systems/sr6/templates/dialogs/shared-footer.html" }}
				</div>
			</div>
		</div>
	</section>
</form>