{{ log this }}
{{ var "skill" (getSkill data.actor data.weapon.system.skill_use.skill) }}


<form autocomplete="off">
	<h1>Attacking with {{data.weapon.name}}</h1>
	<input id="do-roll" type="button" value="Roll"/>
	<div class="flex-container">
		Skill: {{ skillAsString data.weapon.system.skill_use.skill }} <br/>
		Specialization: {{ specializationAsString data.weapon.system.skill_use.specialization}} <br/>
	
		DV <i style="font-weight: bold">{{ data.damage }}</i> ({{ data.weapon.system.damage }})<br/> 
		AR <i style="font-weight: bold">{{ data.attack_rating }}</i> ({{ data.base_attack_rating }})<br/>

		{{> "systems/sr6/templates/dialogs/RollShared.html"}}
		
		<label for="distance" title="Distance">Distance</label>
		<select id="distance" direct-data data-type="number">
			<option value="0" {{#if (eq data.distance 0)}}selected{{/if}}>Close</option>
			<option value="1" {{#if (eq data.distance 1)}}selected{{/if}}>Near</option>
			<option value="2" {{#if (eq data.distance 2)}}selected{{/if}}>Medium</option>
			<option value="3" {{#if (eq data.distance 3)}}selected{{/if}}>Far</option>
			<option value="4" {{#if (eq data.distance 4)}}selected{{/if}}>Extreme</option>
		</select>

		<label for="firemode" title="Fire Mode">Fire Mode</label>
		<select id="firemode" direct-data>
			<option value="SS" {{#if (eq data.firemode 'SS')}}selected{{/if}}>SS</option>
			{{#if (in 'SA' data.weapon.system.firemodes) }}<option value="SA" {{#if (eq data.firemode 'SA')}}selected{{/if}}>SA</option>{{/if}}
			{{#if (in 'BF' data.weapon.system.firemodes) }}<option value="BF" {{#if (eq data.firemode 'BF')}}selected{{/if}}>BF</option>{{/if}}
			{{#if (in 'FA' data.weapon.system.firemodes) }}<option value="FA" {{#if (eq data.firemode 'FA')}}selected{{/if}}>FA</option>{{/if}}
		</select>
	</div>
	<div>
		DV <i style="font-weight: bold"></i>({{ data.weapon.system.damage}})<br/> 
		AR {{ getAttackRating data.weapon 0 }} / 
			{{ getAttackRating data.weapon 1 }} / 
			{{ getAttackRating data.weapon 2 }} / 
			{{ getAttackRating data.weapon 3 }} / 
			{{ getAttackRating data.weapon 4 }}
	</div>
	<div style="font-size: 10px">
		{{data.weapon.system.description}}
	</div>
</form>