<hr/>
<section style="align-content: center">
	Pool Modifier: <input style="width: 3em" id="pool_modifier" direct-data type="number" value="{{dialog.pool_modifier}}" /><br/>
	Wound Modifier: <i style="font-weight: bold">{{ roll.actor.wound_modifier }}</i><br/>
	Other Modifiers: <i style="font-weight: bold">{{ roll.actor.system.effect_modifiers.global_pool }}</i><br/>
	<section>
		{{#unless (eq is_matrix 1) }}
		{{> "systems/sr6/templates/dialogs/shared-edge-boost.html" }}
		{{/unless}}
	</section>

	<div class="edge-roll"  style="flex: 0.48; margin-right: 10px">
		<img src="systems/sr6/icons/blank_dice.png" style="border: 0px; height: auto; width: 48px; z-index: 0; position: absolute; filter: drop-shadow(0 0 4px #000000)" />
		<label name="pool" class="edge-value">{{roll.pool}}</label>
	</div>
	<input id="do-roll" type="button" value="Roll" autofocus />
</div>