<input id="spend-edge" type="button" class="edge-select" value="Spend Edge"/> 
<hr/>
<div class="edge-select-collapsible" style="display: none">
	<select id="roll.edge.boost" direct-data data-type="number">
		<option value="null" {{#if (null roll.edge.boost)}}selected{{/if}}>None</option>
		{{#eachMap config.edge_boosts }}
			{{# if (canUseEdgeBoost key "pre" roll) }}
			<option value="{{key}}" titlse="{{ localizeDescription "edge_boost" (edgeBoostAsString key) }}" {{#if (eq ../roll.edge.boost key)}}selected{{/if}}>{{ localizeName "edge_boost" (edgeBoostAsString key) }}</option>
			{{/if}}
		{{/eachMap}}
	</select>
	<hr/>
</div>
