<input id="spend-edge" type="button" class="edge-select" value="Edge"/> 
<section>
	<div>
		<select id="roll.edge.boost" direct-data data-type="number">
			<option value="null" {{#if (null roll.edge.boost)}}selected{{/if}}>None</option>
			{{#eachInMap config.edge_boosts }}
				{{# if (canUseEdgeBoost key "pre" roll) }}
				<option value="{{key}}" title="{{ localizeDescription "edge_boost" (edgeBoostAsString key) }}" {{#if (eq ../roll.edge.boost key)}}selected{{/if}}>{{ localizeName "edge_boost" (edgeBoostAsString key) }}</option>
				{{/if}}
			{{/eachInMap}}
		</select>
	</div>
</section>
<hr/>
