<form class="flexcol" autocomplete="off">
	<section>
		<div style="margin-right: 5px;">
			<div style="display: inline-block; width:100%;">
				<div class="section">
					{{> "systems/sr6/templates/dialogs/shared-header.html" header_text="Spell Cast" action_text=asdf }}
				
					<div>Autoroll Drain: <input id="roll.autoroll_drain" direct-data type="checkbox" {{#if roll.autoroll_drain }}checked{{/if}}></div>
					<div>Amps Available: {{ roll.actor.system.attributes.magic.pool }}</div>
					<div>
						{{#times roll.actor.system.attributes.magic.pool }}
							<div><select>
								<option>None</option>
								<option>Amp Up</option>
								<option>Increase Area</option>
								<option>Shift Area</option>
							</select></div>
						{{/times}}
					</div>
					{{> "systems/sr6/templates/dialogs/shared-footer.html" }}
				</div>
			</div>
		</div>
	</section>
</form>