<form class="pc {{cssClass}}" autocomplete="off">
	<header class="sheet-header" style="display: flex; flex-flow: row">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200"/>
		<div style="align-self: start">
			<div id="physical-bar" class="physical-bar" style="width: 300px"></div>
			<div id="stun-bar" class="stun-bar" style="width: 300px"></div>
		</div>
		<div class="flexrow">
			<div class="edge-roll">
				<img src="systems/sr6/icons/karma.webp" style="border: 0px; height: auto; width: 48px; z-index: 0; position: absolute; filter: drop-shadow(0 0 4px #000000)" />
				<label name="pool" class="edge-value"><input id="system.monitors.karma" value="{{actor.system.karma}}" type="number" direct-data style="width: 2em"/></label>
			</div>
			<div class="edge-roll">
				<img src="systems/sr6/icons/edge.webp" style="border: 0px; height: auto; width: 48px; z-index: 0; position: absolute; filter: drop-shadow(0 0 4px #000000)" />
				<label name="pool" class="edge-value"><input id="system.monitors.edge.pool" value="{{actor.system.monitors.edge.pool}}" type="number" direct-data style="width: 2em"/></label>
			</div>

		</div>
		<div class="header-fields">
			<h1>
				<input direct-data id="name" type="text" value="{{actor.name}}" />
			</h1>
		</div>
	</header>
	{{> "systems/sr6/templates/actors/parts/attributes.html" attributes=actor.system.attributes}}

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="basics">Basics</a>
		<a class="item" data-tab="skills">Skills</a>
		<a class="item" data-tab="combat">Combat</a>
		<a class="item" data-tab="matrix">Matrix</a>
		<a class="item" data-tab="magic">Magic</a>
		<a class="item" data-tab="gear">Gear</a>
		{{#if user.isGM }}
		<a class="item" data-tab="effects">Effects</a>
		{{/if}}
	</nav>
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab basics" data-group="primary" data-tab="basics">
			{{> "systems/sr6/templates/actors/parts/tab-basics.html"}}
		</div>
		<div class="tab skills" data-group="primary" data-tab="skills">
			{{> "systems/sr6/templates/actors/parts/tab-skills.html"}}
		</div>
		<div class="tab weapons" data-group="primary" data-tab="combat">
			{{> "systems/sr6/templates/actors/parts/tab-combat.html"}}
		</div>
		<div class="tab matrix" data-group="primary" data-tab="matrix">
			{{> "systems/sr6/templates/actors/parts/tab-matrix.html"}}
		</div>
		<div class="tab magic" data-group="primary" data-tab="magic">
			{{> "systems/sr6/templates/actors/parts/tab-magic.html"}}
		</div>
		<div class="tab gear" data-group="primary" data-tab="gear">
			{{> "systems/sr6/templates/actors/parts/tab-gear.html"}}
		</div>
		{{#if user.isGM }}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/sr6/templates/actors/parts/tab-effects.html"}}
		</div>
		{{/if}}
	</section>
</form>