<div class="chat-tooltip chat-dice-collapsible" style="display: none">
	<section>
		<div class="roll">
			{{#each roll.sides as |num id|}}
			<i class="dice" data-die="{{num}}">&nbsp; </i>
			{{/each}}
		</div>
	</section>
</div>
<div class="chat-tooltip chat-action-expand-text-collapsible" style="display: none; font-size: 12px; font-style: italic">
	{{action_expand_text}}
</div>