<div class="chat-tooltip chat-dice-collapsible" style="display: none">
	<section>
		<div class="roll">
			{{#each roll.sides as |num id|}}
			<i class="dice" data-die="{{num}}">&nbsp; </i>
			{{/each}}
		</div>
	</section>
</div>
{{#if roll.isOwner }}
<input id="chat-9-expand" type="button" class="chat-edge" value="Edge"/>
{{/if}}

<div class="chat-9-collapsible" style="display: none">
	<section>
		<div>
			<select id="edge-boost">
				<option>Balls</option>
			</select>
		</div>
		<input id="spend-edge" type="button" class="chat-edge" value="Spend"/>
	</section>
</div>
