<form class="editable flexcol {{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<div>
			<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="120" width="120" /><br />
			<br />
		</div>
		<div class="header-fields">
			<h1>
				<input direct-data type="text" value="{{item.name}}" />
			</h1>
		</div>
		<br/>
	</header>
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="basics">Basics</a>
		{{#if user.isGM }}
		<a class="item" data-tab="effects">Effects</a>
		{{/if}}
	</nav>
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab" data-group="primary" data-tab="basics">
			<div id="base" class="section">
				<label for="system.activation">Activation</label>
				<select direct-data id="system.activation">
					<option value="0" {{#if (eq item.system.activation 0) }}selected{{/if}}>Passive</option>
					<option value="1" {{#if (eq item.system.activation 1) }}selected{{/if}}>Minor Action</option>
					<option value="2" {{#if (eq item.system.activation 2) }}selected{{/if}}>Major Action</option>
				</select>
				<br/><label for="system.description">Description</label><br/>
				<textarea direct-data id="system.description" rows="10" cols="50">{{item.system.description}}</textarea>
			</div>
		</div>
		{{#if user.isGM }}
		<div class="tab" data-group="primary" data-tab="effects">
			{{> "systems/sr6/templates/items/parts/tab-effects.html"}}
		</div>
		{{/if}}
	</section>
</form>