<form autocomplete="off">
	{{> "systems/sr6/templates/items/shared-header.html" }}
	<div id="controls" class="section" style="display: flex; flex-flow: nowrap;">
		{{#unless (itemHas item "Cost") }}<a class="add-type" data-add-type="Cost" title="Add"><h5 class="fas fa-plus">Cost</h5></a>{{/unless}}
		{{#unless (itemHas item "SkillUse") }}<a class="add-type" data-add-type="SkillUse" title="Add"><h5 class="fas fa-plus">SkillUse</h5></a>{{/unless}}
		{{#unless (itemHas item "Matrix") }}<a class="add-type" data-add-type="Matrix" title="Add"><h5 class="fas fa-plus">Matrix</h5></a>{{/unless}}
		{{#unless (itemHas item "Defense") }}<a class="add-type" data-add-type="Defense" title="Add"><h5 class="fas fa-plus">Defense</h5></a>{{/unless}}
		{{#unless (itemHas item "Capacity") }}<a class="add-type" data-add-type="Capacity" title="Add"><h5 class="fas fa-plus">Capacity</h5></a>{{/unless}}
		{{#unless (itemHas item "Explosive") }}<a class="add-type" data-add-type="Explosive" title="Add"><h5 class="fas fa-plus">Explosive</h5></a>{{/unless}}
		{{#unless (itemHas item "Mountable") }}<a class="add-type" data-add-type="Mountable" title="Add"><h5 class="fas fa-plus">Mountable</h5></a>{{/unless}}
		{{#unless (itemHas item "Weapon") }}<a class="add-type" data-add-type="Weapon" title="Add"><h5 class="fas fa-plus">Weapon</h5></a>{{/unless}}
		{{#unless (itemHas item "Firearm") }}<a class="add-type" data-add-type="Firearm" title="Add"><h5 class="fas fa-plus">Firearm</h5></a>{{/unless}}
	</div>
	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="basics">Basics</a>
		{{#if (itemHas item "Matrix") }}
		<a class="item" data-tab="matrix">Matrix</a>
		{{/if}}
		{{#if (itemHas item "Weapon") }}
		<a class="item" data-tab="weapon">Weapon</a>
		{{/if}}
		{{#if user.isGM }}
		<a class="item" data-tab="effects">Effects</a>
		{{/if}}
	</nav>
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		<div class="tab" data-group="primary" data-tab="basics">
			{{> "systems/sr6/templates/items/parts/tab-basics.html"}}
		</div>
		{{#if (itemHas item "Matrix") }}
		<div class="tab" data-group="primary" data-tab="matrix">
			{{> "systems/sr6/templates/items/parts/tab-matrix.html"}}
		</div>
		{{/if}}
		{{#if (itemHas item "Weapon") }}
		<div class="tab" data-group="primary" data-tab="weapon">
			{{> "systems/sr6/templates/items/parts/tab-weapon.html"}}
		</div>
		{{/if}}
		{{#if user.isGM }}
		<div class="tab" data-group="primary" data-tab="effects">
			{{> "systems/sr6/templates/items/parts/tab-effects.html"}}
		</div>
		{{/if}}
	</section>
</form>