<form class="editable flexcol {{cssClass}}" autocomplete="off">
	{{> "systems/sr6/templates/items/shared-header.html" }}
	<section class="sheet">
		<div id="base" class="section">
			<label for="system.size">Rating</label>
			<select direct-data id="system.rating">
				<option value="0" {{#if (eq item.system.rating 0) }}selected{{/if}}>{{localize "sin_quality.0"}}</option>
				<option value="1" {{#if (eq item.system.rating 1) }}selected{{/if}}>{{localize "sin_quality.1"}}</option>
				<option value="2" {{#if (eq item.system.rating 2) }}selected{{/if}}>{{localize "sin_quality.2"}}</option>
				<option value="3" {{#if (eq item.system.rating 3) }}selected{{/if}}>{{localize "sin_quality.3"}}</option>
				<option value="4" {{#if (eq item.system.rating 4) }}selected{{/if}}>{{localize "sin_quality.4"}}</option>
				<option value="5" {{#if (eq item.system.rating 5) }}selected{{/if}}>{{localize "sin_quality.5"}}</option>
				<option value="6" {{#if (eq item.system.rating 6) }}selected{{/if}}>{{localize "sin_quality.6"}}</option>
			</select>
			<br/><label for="system.description">Description</label><br/>
			<textarea direct-data id="system.description" rows="10" cols="50">{{item.system.description}}</textarea>
		</div>
	</section>
</form>