<form class="editable flexcol {{cssClass}}" autocomplete="off">
	{{> "systems/sr6/templates/items/shared-header.html" }}
	<section>
		<div style="margin-right: 5px;">
			<div style="display: inline-block; width:100%;">
				<div id="base" class="section">
					<label for="system.size">Drain</label>
					<input direct-data id="system.drain" type="number" value="{{item.system.drain}}" style="width: 2em" />
					
					<label for="system.size">Range Type</label>
					<input direct-data id="system.range.type" type="number" value="{{item.system.range.type}}" style="width: 2em" />
					<label for="system.size">Range Value</label>
					<input direct-data id="system.range.value" type="number" value="{{item.system.range.value}}" style="width: 2em" />

					<label for="system.size">Duration Type</label>
					<input direct-data id="system.duration.type" type="number" value="{{item.system.duration.type}}" style="width: 2em" />
					<label for="system.size">Range Value</label>
					<input direct-data id="system.duration.value" type="number" value="{{item.system.duration.value}}" style="width: 2em" />

					<br/><label for="system.description">Description</label><br/>
						<textarea direct-data id="system.description" rows="10" cols="50">{{item.system.description}}</textarea>
				</div>
			</div>
		</div>
	</section>
</section>
</form>