<form class="editable flexcol {{cssClass}}" autocomplete="off">
	{{> "systems/sr6/templates/items/shared-header.html" }}
	<section class="sheet">
		<div id="base" class="section">
			<label for="system.size">Rating</label>
			<input direct-data id="system.rating" type="number" value="{{item.system.rating}}" style="width: 2em" />
			<br/><label for="system.description">Description</label><br/>
			<textarea direct-data id="system.description" rows="10" cols="50">{{item.system.description}}</textarea>
		</div>
	</section>
</form>