{{ var "weapon" (getItemById roll.options.previous.attack.itemId) }}
{{> "systems/sr6/templates/chat/rolls/shared/header.hbs" title="Soak Damage" item=weapon }}
<div class="roll">
	{{#if roll.success }}
		<i style="color: #006400">Soaked Successfully!</i>
	{{ else }}
		<a class="chat-formula-1" style="font-style: italic">
			Took <i style="font-weight: bold; color: rgb(194, 76, 29);">{{ roll.net_hits }}</i> Damage
		</a>
		<br/>
		<div class="chat-tooltip formula chat-formula-1-collapsible" style="display: none">
		</div>
	{{/if }}
</div>
{{> "systems/sr6/templates/chat/rolls/shared/footer.hbs" }}
