.attributes {
	height: 4.75rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}
.attributes .attribute {
	min-width: 5.25rem;
	text-align: center;
	padding: 0.25rem;
	display: flex;
	flex-flow: column nowrap;
	justify-items: flex-start;
	font-family: var(--font-header);
	// TODO: why did this break?
	--aug-border: 1px;
	--aug-inset: 2px;
	--aug-border-bg: rgb(82, 81, 78, 0.1);
	--aug-inset-bg: rgba(255, 255, 255, 0);
	--aug-b-width: 33%;
	--aug-b-height: 10px;
	position: relative;
	background: var(--section-background);
}
.attributes .attribute p {
	text-align: center;
	margin: 0;
}

.attributes .attribute span {
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 0.25rem;
	color: var(--highlight-color);
}
.attributes .attribute .field {
	display: flex;
	flex-flow: column nowrap;
}
.attributes .attribute input::placeholder,
.attributes .attribute label {
	font-size: 0.75rem;
}
.attributes .attribute .field:nth-of-type(1) {
	font-size: 0.89rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2em;
}
.attributes .attribute .field:nth-of-type(2) {
	font-size: 0.89rem;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2em;
}
