@use '@scss/mixins/backgrounds.scss';
@use '@scss/vars/colors.scss';

.chat-message {
	@include backgrounds.crossboxes();

	.message-header {
		border-bottom: 1px dashed colors.$blue !important;
	}

	.message-sender {
		color: colors.$dark-blue;
		font-family: 'Bebas Neue', sans-serif;
		font-size: 1.5em;
	}

	.message-content {
		padding: 0.25em;
	}

	%details-card {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 0.25em;

		.imageAndName {
			display: grid;
			grid-template-columns: 1.25em 1fr;
			gap: 0.25em;

			font-family: 'Bebas Neue', sans-serif;
			font-size: 1.5em;
			color: colors.$blue;

			img {
				border: none;
				border-radius: 5px;
			}
		}

		.description {
			&:empty {
				display: none;
			}
		}

		label {
			font-family: 'Bebas Neue', sans-serif;
			color: colors.$blue;
		}

		& > label {
			font-size: 1.25em;
		}

		.details-grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			align-items: center;
			justify-items: center;

			label {
				grid-row: 1 / span 1;
				font-size: 1.1em;
			}

			span {
				grid-row: 2 / span 1;
			}
		}
	}

	.item-card {
		@extend %details-card;

		&.weapon .description,
		&.armor .description {
			border-bottom: 1px dashed colors.$gold;
		}
	}

	.formula {
		font-style: italic;
		font-size: 11px;
	}

	.dv {
		font-weight: bold;
		color: colors.$red;
	}

	%result-text {
		font-weight: bold;
		font-size: 14px;
		white-space: nowrap;
	}

	.failure {
		@extend %result-text;
		color: colors.$red;
	}

	.success {
		@extend %result-text;
		color: colors.$green;
	}

	.glitch {
		@extend %result-text;
		font-size: 20px;
		color: colors.$glitch;
	}

	.critical-glitch {
		@extend %result-text;
		font-size: 20px;
		color: colors.$critical-glitch;
	}

	.data-value {
		font-weight: bold;
		font-style: italic;
	}

	.chat-target-box {
		//background-color: colors.$light-green;
		display: grid;

		grid-template-columns: minmax(90px, 10px) minmax(90px, 10px) minmax(90px, 10px);

		//gap: 1rem;

		div {
			text-align: center;
			background: colors.$lighter-blue;
			padding: 0.2rem;
			border-radius: 1rem;


			&:hover {
				background: colors.$light-blue;
				font-weight: bold;
				text-shadow: 0 0 5px #ff0000;
			}
		}
	}

}
