<div class="attributes">
	<div class="attribute-container">
		<label for="system.attributes.body.pool" class="attribute-label" title="Body">Body</label>
		<i id="system.attributes.body.pool" class="attribute-pool">
			{{attributes.body.pool}}
			<a data-attribute="body" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.body.base" style="display: block">base</label>
				<input direct-data id="system.attributes.body.base" value="{{attributes.body.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.body.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.body.modifier" value="{{attributes.body.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>
	
	<div class="attribute-container">
		<label for="system.attributes.agility.pool" class="attribute-label" title="Agility">Agility</label>
		<i id="system.attributes.agility.pool" class="attribute-pool">
			{{attributes.agility.pool}}
			<a data-attribute="agility" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.agility.base" style="display: block">base</label>
				<input direct-data id="system.attributes.agility.base" value="{{attributes.agility.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.agility.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.agility.modifier" value="{{attributes.agility.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>

	<div class="attribute-container">
		<label for="system.attributes.reaction.pool" class="attribute-label" title="Reaction">Reaction</label>
		<i id="system.attributes.reaction.pool" class="attribute-pool">
			{{attributes.reaction.pool}}
			<a data-attribute="reaction" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.reaction.base" style="display: block">base</label>
				<input direct-data id="system.attributes.reaction.base" value="{{attributes.reaction.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.reaction.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.reaction.modifier" value="{{attributes.reaction.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>

	<div class="attribute-container">
		<label for="system.attributes.strength.pool" class="attribute-label" title="Strength">Strength</label>
		<i id="system.attributes.strength.pool" class="attribute-pool">
			{{attributes.strength.pool}}
			<a data-attribute="strength" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.strength.base" style="display: block">base</label>
				<input direct-data id="system.attributes.strength.base" value="{{attributes.strength.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.strength.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.strength.modifier" value="{{attributes.strength.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>

	<div class="attribute-container">
		<label for="system.attributes.willpower.pool" class="attribute-label" title="Willpower">Willpower</label>
		<i id="system.attributes.willpower.pool" class="attribute-pool">
			{{attributes.willpower.pool}}
			<a data-attribute="willpower" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.willpower.base" style="display: block">base</label>
				<input direct-data id="system.attributes.willpower.base" value="{{attributes.willpower.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.willpower.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.willpower.modifier" value="{{attributes.willpower.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>

	<div class="attribute-container">
		<label for="system.attributes.logic.pool" class="attribute-label" title="Logic">Logic</label>
		<i id="system.attributes.logic.pool" class="attribute-pool">
			{{attributes.logic.pool}}
			<a data-attribute="logic" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.logic.base" style="display: block">base</label>
				<input direct-data id="system.attributes.logic.base" value="{{attributes.logic.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.logic.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.logic.modifier" value="{{attributes.logic.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>

	<div class="attribute-container">
		<label for="system.attributes.intuition.pool" class="attribute-label" title="Intuition">Intuition</label>
		<i id="system.attributes.intuition.pool" class="attribute-pool">
			{{attributes.intuition.pool}}
			<a data-attribute="intuition" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.intuition.base" style="display: block">base</label>
				<input direct-data id="system.attributes.intuition.base" value="{{attributes.intuition.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.intuition.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.intuition.modifier" value="{{attributes.intuition.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>

	<div class="attribute-container">
		<label for="system.attributes.body.pool" class="attribute-label" title="Charisma">Charisma</label>
		<i id="system.attributes.charisma.pool" class="attribute-pool">
			{{attributes.charisma.pool}}
			<a data-attribute="charisma" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.charisma.base" style="display: block">base</label>
				<input direct-data id="system.attributes.charisma.base" value="{{attributes.charisma.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.charisma.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.charisma.modifier" value="{{attributes.charisma.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>

	<div class="attribute-container">
		<label for="system.attributes.edge.pool" class="attribute-label" title="Charisma">Edge</label>
		<i id="system.attributes.edge.pool" class="attribute-pool">
			{{attributes.edge.pool}}
			<a data-attribute="edge" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
		</i>
		
		<div class="attribute-edit-container">
			<div>
				<label for="system.attributes.edge.base" style="display: block">base</label>
				<input direct-data id="system.attributes.edge.base" value="{{attributes.edge.base}}" class="attribute-edit attribute-base" type="number"  />
			</div>
			<div>
				<label for="system.attributes.edge.modifier" style="display: block">mod</label>
				<input direct-data id="system.attributes.edge.modifier" value="{{attributes.edge.modifier}}" class="attribute-edit attribute-mod" type="number"  />
			</div>
		</div>
	</div>
</div>