<div class="attributes">
	<div class="attribute">
		<label for="system.attributes.body.pool" title="Body">Body</label>
		<i id="system.attributes.body.pool" class="attribute-value">{{attributes.body.pool}}</i>
		<a data-pool="@actor.system.attributes.body.pool" class="roll roll-formula">&nbsp;</a>
		<div class="attribute-edit">
			<label for="system.attributes.body.base">base</label>
			<input direct-data id="system.attributes.body.base" value="{{attributes.body.base}}" class="attribute-base" type="number"  />
			<label for="system.attributes.body.modifier">mod</label>
			<input direct-data id="system.attributes.body.modifier" value="{{attributes.body.modifier}}" class="attribute-mod" type="number"  />
		</div>
	</div>
	<div class="attribute">
		<label for="system.attributes.agility.pool" title="Agility">Agility</label>
		<i id="system.attributes.agility.pool" class="attribute-value">{{attributes.agility.pool}}</i>
		<a data-pool="@actor.system.attributes.agility.pool" class="roll roll-formula">&nbsp;</a>
		<div class="attribute-edit">
			<label for="system.attributes.agility.base">base</label>
			<input direct-data id="system.attributes.agility.base" value="{{attributes.agility.base}}" class="attribute-base" type="number"  />
			<label for="system.attributes.agility.modifier">mod</label>
			<input direct-data id="system.attributes.agility.modifier" value="{{attributes.agility.modifier}}" class="attribute-mod" type="number"  />
		</div>
	</div>
	<div class="attribute">
		<label for="system.attributes.reaction.pool" title="Reaction">Reaction</label>
		<i id="system.attributes.reaction.pool" class="attribute-value">{{attributes.reaction.pool}}</i>
		<a data-pool="@actor.system.attributes.reaction.pool" class="roll roll-formula">&nbsp;</a>
		<div class="attribute-edit">
			<label for="system.attributes.reaction.base">base</label>
			<input direct-data id="system.attributes.reaction.base" value="{{attributes.reaction.base}}" class="attribute-base" type="number"  />
			<label for="system.attributes.reaction.modifier">mod</label>
			<input direct-data id="system.attributes.reaction.modifier" value="{{attributes.reaction.modifier}}" class="attribute-mod" type="number"  />
		</div>
	</div>
	<div class="attribute">
		<label for="system.attributes.strength.pool" title="Strength">Strength</label>
		<i id="system.attributes.strength.pool" class="attribute-value">{{attributes.strength.pool}}</i>
		<a data-pool="@actor.system.attributes.strength.pool" class="roll roll-formula">&nbsp;</a>
		<div class="attribute-edit">
			<label for="system.attributes.strength.base">base</label>
			<input direct-data id="system.attributes.strength.base" value="{{attributes.strength.base}}" class="attribute-base" type="number"  />
			<label for="system.attributes.strength.modifier">mod</label>
			<input direct-data id="system.attributes.strength.modifier" value="{{attributes.strength.modifier}}" class="attribute-mod" type="number"  />
		</div>
	</div>
	<div class="attribute">
		<label for="system.attributes.willpower.pool" title="Willpower">Willpower</label>
		<i id="system.attributes.willpower.pool" class="attribute-value">{{attributes.willpower.pool}}</i>
		<a data-pool="@actor.system.attributes.willpower.pool" class="roll roll-formula">&nbsp;</a>
		<div class="attribute-edit">
			<label for="system.attributes.willpower.base">base</label>
			<input direct-data id="system.attributes.willpower.base" value="{{attributes.willpower.base}}" class="attribute-base" type="number"  />
			<label for="system.attributes.willpower.modifier">mod</label>
			<input direct-data id="system.attributes.willpower.modifier" value="{{attributes.willpower.modifier}}" class="attribute-mod" type="number"  />
		</div>
	</div>
	<div class="attribute">
		<label for="system.attributes.logic.pool" title="Logic">Logic</label>
		<i id="system.attributes.logic.pool" class="attribute-value">{{attributes.logic.pool}}</i>
		<a data-pool="@actor.system.attributes.logic.pool" class="roll roll-formula">&nbsp;</a>
		<div class="attribute-edit">
			<label for="system.attributes.logic.base">base</label>
			<input direct-data id="system.attributes.logic.base" value="{{attributes.logic.base}}" class="attribute-base" type="number"  />
			<label for="system.attributes.logic.modifier">mod</label>
			<input direct-data id="system.attributes.logic.modifier" value="{{attributes.logic.modifier}}" class="attribute-mod" type="number"  />
		</div>
	</div>
	<div class="attribute">
		<label for="system.attributes.intuition.pool" title="Intuition">Intuition</label>
		<i id="system.attributes.intuition.pool" class="attribute-value">{{attributes.intuition.pool}}</i>
		<a data-pool="@actor.system.attributes.intuition.pool" class="roll roll-formula">&nbsp;</a>
		<div class="attribute-edit">
			<label for="system.attributes.intuition.base">base</label>
			<input direct-data id="system.attributes.intuition.base" value="{{attributes.intuition.base}}" class="attribute-base" type="number"  />
			<label for="system.attributes.intuition.modifier">mod</label>
			<input direct-data id="system.attributes.intuition.modifier" value="{{attributes.intuition.modifier}}" class="attribute-mod" type="number"  />
		</div>
	</div>
	<div class="attribute">
		<label for="system.attributes.charisma.pool" title="Charisma">Charisma</label>
		<a data-pool="@actor.system.attributes.charisma.pool" class="roll roll-formula">&nbsp;</a>
		<i id="system.attributes.charisma.pool" class="attribute-value">{{attributes.charisma.pool}}</i>
		<div class="attribute-edit">
			<label for="system.attributes.charisma.base">base</label>
			<input direct-data id="system.attributes.charisma.base" value="{{attributes.charisma.base}}" class="attribute-base" type="number"  />
			<label for="system.attributes.charisma.modifier">mod</label>
			<input direct-data id="system.attributes.charisma.modifier" value="{{attributes.charisma.modifier}}" class="attribute-mod" type="number"  />
		</div>
	</div>
</div>