<div class="section" style="display: inline-block; width: 40%; margin: 0; padding: 0">
	<table style="align-self: start; border-collapse: collapse; margin: 0; padding: 0;">
		<tr>
			<td class="skill">Astral</td>
			<td class="skill"><input direct-data id="system.skills.astral.points" value="{{actor.system.skills.astral.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="astral" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">Athletics</td>
			<td class="skill"><input direct-data id="system.skills.athletics.points" value="{{actor.system.skills.athletics.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="athletics" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">biotech</td>
			<td class="skill"><input direct-data id="system.skills.biotech.points" value="{{actor.system.skills.biotech.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="biotech" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">close_combat</td>
			<td class="skill"><input direct-data id="system.skills.close_combat.points" value="{{actor.system.skills.close_combat.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.close_combat.pool" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">con</td>
			<td class="skill"><input direct-data id="system.skills.con.points" value="{{actor.system.skills.con.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="con" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">conjuring</td>
			<td class="skill"><input direct-data id="system.skills.conjuring.points" value="{{actor.system.skills.conjuring.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="conjuring" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">cracking</td>
			<td class="skill"><input direct-data id="system.skills.cracking.points" value="{{actor.system.skills.cracking.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="cracking" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">electronics</td>
			<td class="skill"><input direct-data id="system.skills.electronics.points" value="{{actor.system.skills.electronics.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="electronics" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">enchanting</td>
			<td class="skill"><input direct-data id="system.skills.enchanting.points" value="{{actor.system.skills.enchanting.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="enchanting" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">engineering</td>
			<td class="skill"><input direct-data id="system.skills.engineering.points" value="{{actor.system.skills.engineering.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="engineering" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">exotic_weapons</td>
			<td class="skill"><input direct-data id="system.skills.exotic_weapons.points" value="{{actor.system.skills.exotic_weapons.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.exotic_weapons.pool" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">firearms</td>
			<td class="skill"><input direct-data id="system.skills.firearms.points" value="{{actor.system.skills.firearms.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="firearms" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">influence</td>
			<td class="skill"><input direct-data id="system.skills.influence.points" value="{{actor.system.skills.influence.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="influence" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">outdoors</td>
			<td class="skill"><input direct-data id="system.skills.outdoors.points" value="{{actor.system.skills.outdoors.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="outdoors" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">perception</td>
			<td class="skill"><input direct-data id="system.skills.perception.points" value="{{actor.system.skills.perception.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="perception" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">piloting</td>
			<td class="skill"><input direct-data id="system.skills.piloting.points" value="{{actor.system.skills.piloting.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="piloting" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">sorcery</td>
			<td class="skill"><input direct-data id="system.skills.sorcery.points" value="{{actor.system.skills.sorcery.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="sorcery" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">stealth</td>
			<td class="skill"><input direct-data id="system.skills.stealth.points" value="{{actor.system.skills.stealth.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="stealth" class="roll roll-skill">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill">tasking</td>
			<td class="skill"><input direct-data id="system.skills.tasking.points" value="{{actor.system.skills.tasking.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-skill="tasking" class="roll roll-skill">&nbsp;</a></td>
		</tr>
	</table>
</div>