<div class="flex-container" style="flex-flow: row">
	<div style="font-weight: bold;"><div class="nuyen-icon">&nbsp;</div>{{ actor.total_nuyen }}</div>
	<table style="display: flex; align-self: start; border-collapse: collapse">
		<thead>
			<tr>
				<th colspan="2">Qualities</th>
				<th><a class="add-item" data-type="Quality" title="Add Item"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
			</tr>
		</thead>
		{{#each actor.items as |item idx|}}
		{{# if (eq item.type "Quality" )}}
		<tr>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="name" value="{{item.name}}" style="width: 7em"/></td>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="system.description" value="{{item.system.description}}" style="width: 20em"/></td>
			<td>
				<a class="edit-item" data-id="{{item.id}}" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
				<a class="remove-item" data-id="{{item.id}}" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></a>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</table>
	<table style="display: flex; align-self: start; border-collapse: collapse">
		<thead>
			<tr>
				<th colspan="2">Augmentations</th>
				<th><a class="add-item" data-type="Augmentation" title="Add Item"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
			</tr>
		</thead>
		{{#each actor.items as |item idx|}}
		{{# if (eq item.type "Augmentation" )}}
		<tr>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="name" value="{{item.name}}" style="width: 12em"/></td>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="system.description" value="{{item.system.description}}" style="width: 15em"/></td>
			<td>
				<a class="edit-item" data-id="{{item.id}}" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
				<a class="remove-item" data-id="{{item.id}}" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></a>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</table>

	<table style="display: flex; align-self: start; border-collapse: collapse">
		<thead>
			<tr>
				<th colspan="2">Adept Powers</th>
				<th><a class="add-item" data-type="AdeptPower" title="Add Item"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
			</tr>
		</thead>
		{{#each actor.items as |item idx|}}
		{{# if (eq item.type "AdeptPower" )}}
		<tr>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="name" value="{{item.name}}" style="width: 12em"/></td>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="system.description" value="{{item.system.description}}" style="width: 15em"/></td>
			<td>
				<a class="edit-item" data-id="{{item.id}}" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
				<a class="remove-item" data-id="{{item.id}}" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></a>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</table>

	<table style="display: flex; align-self: start; border-collapse: collapse">
		<thead>
			<tr>
				<th colspan="2">Lifestyles</th>
				<th><a class="add-item" data-type="Lifestyle" title="Add Item"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
			</tr>
		</thead>
		{{#each actor.items as |item idx|}}
		{{# if (eq item.type "Lifestyle" )}}
		<tr>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="name" value="{{item.name}}" style="width: 7em"/></td>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="system.description" value="{{item.system.description}}" style="width: 20em"/></td>
			<td>
				<a class="edit-item" data-id="{{item.id}}" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
				<a class="remove-item" data-id="{{item.id}}" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></a>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</table>
	<table style="display: flex; align-self: start; border-collapse: collapse">
		<thead>
			<tr>
				<th colspan="2">SINs</th>
				<th><a class="add-item" data-type="SIN" title="Add Item"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
			</tr>
		</thead>
		{{#each actor.items as |item idx|}}
		{{# if (eq item.type "SIN" )}}
		<tr>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="name" value="{{item.name}}" style="width: 12em"/></td>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="system.description" value="{{item.system.description}}" style="width: 15em"/></td>
			<td>
				<a class="edit-item" data-id="{{item.id}}" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
				<a class="remove-item" data-id="{{item.id}}" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></a>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</table>

	<table style="display: flex; align-self: start; border-collapse: collapse">
		<thead>
			<tr>
				<th colspan="2">Credsticks</th>
				<th><a class="add-item" data-type="Credstick" title="Add Item"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
			</tr>
		</thead>
		{{#each actor.items as |item idx|}}
		{{# if (eq item.type "Credstick" )}}
		<tr>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="name" value="{{item.name}}" style="width: 12em"/></td>
			<td><input type="text" direct-item-data data-item-id="{{item.id}}" data-field="system.nuyen" value="{{item.system.nuyen}}" style="width: 5em"/></td>
			<td>Capacity: {{item.system.capacity}}</td>
			<td>
				<a class="edit-item" data-id="{{item.id}}" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>
				<a class="remove-item" data-id="{{item.id}}" title="Remove"><i class="fa fa-minus" aria-hidden="true"></i></a>
			</td>
		</tr>
		{{/if}}
		{{/each}}
	</table>
</div>