<div class="section" style="display: inline-block; width: 40%; margin: 0; padding: 0">
	<table style="align-self: start; border-collapse: collapse; margin: 0; padding: 0;">
		{{#eachMap config.skills }}
			{{ var "skill" (getSkill ../actor key)}}
			{{ var "skillName" (skillAsString key)}}
			{{#if skill.points }}
			<tr title="{{ localizeDescription 'skill' skillName }}">
				<td class="skill" style="width: 100%"><a class="expand-skill" data-skill="{{key}}">{{ localizeName 'skill' skillName }}</a></td>
				<td class="skill"><input direct-data id="system.skills.{{ skillName }}.points" value="{{skill.points}}" style="width: 2em"  type="number"  /></td>
				<td class="skill"><a data-skill="{{key}}" class="roll roll-skill">&nbsp;</a></td>
			<!--<i style="font-size: 10px; font-style: italic; font-weight: bold;">{{skill.pool}}</i>-->
			</tr>
			<tr title="{{ localizeDescription 'specialization' skill.specialization }}" class="special-{{key}}-collapsible"  {{#if (null skill.specialization) }}style="display: none"{{/if}}>
				<td style="padding-left: 50px" class="skill specialization">
					<select direct-data data-type="number" id="system.skills.{{ skillName }}.specialization">
						<option value="null"/>Select Specialization</option>
						{{#each value.specializations as |specialization idx| }}
						{{ var "specializationName" (specializationAsString specialization.id) }}
						<option value="{{specialization.id}}" title="{{ localizeDescription 'specialization' specializationName }}" {{#if (eq ../skill.specialization specialization.id )}}selected{{/if}}>
							{{ localizeName 'specialization' specializationName }}
						</option>
						{{/each}}
					</select>
				</td>
				<td class="skill specialization"><input value="{{#unless (null skill.specialization) }}{{add skill.points 2}}{{else}}{{/unless}}" style="width: 2em"  type="number" disabled/></td>
				<td class="skill specialization"><a data-skill="{{ key }}" data-specialization="{{skill.specialization}}" class="roll roll-specialization">&nbsp;</a></td>
				</td>
			</tr>
			<tr title="{{ localizeDescription 'specialization' skill.expertise }}" class="expertise-{{key}}-collapsible" {{#if (null skill.expertise) }}style="display: none" {{/if}}>
				<td style="padding-left: 50px" class="skill expertise">
					<select direct-data data-type="number" id="system.skills.{{ skillName }}.expertise">
						<option value="null"/>Select Expertise</option>
						{{#each value.specializations as |specialization idx| }}
						{{ var "specializationName" (specializationAsString specialization.id) }}
						{{!#unless (eq specialization.id ../skill.specialization )}} 
						<option value="{{specialization.id}}" title="{{ localizeDescription 'specialization' specializationName }}" {{#if (eq ../skill.expertise specialization.id )}}selected{{/if}}>
							{{ localizeName 'specialization' specializationName }}
						</option>
						{{!/unless}}
						{{/each}}
					</select>
				</td>
				<td class="skill specialization"><input value="{{#unless (null skill.expertise) }}{{add skill.points 3}}{{else}}{{/unless}}" style="width: 2em"  type="number" disabled/></td>
				<td class="skill specialization"><a data-skill="{{ key }}" data-specialization="{{skill.expertise}}" class="roll roll-specialization">&nbsp;</a></td>
				</td>
			</tr>
			{{/if}}
		{{/eachMap}}
			<tr><td colspan="4" class="expand-unskilled"><h3/></td></tr>
		{{#eachMap config.skills }}
			{{ var "skill" (getSkill ../actor key)}}
			{{ var "skillName" (skillAsString key)}}
			{{#unless skill.points }}
			<tr class="skill-unskilled" title="{{ localizeDescription 'skill' skillName }}">
				<td class="skill" style="width: 100%"><a class="expand-skill" data-skill="{{key}}">{{ localizeName 'skill' skillName }}</a></td>
				<td class="skill"><input direct-data id="system.skills.{{ skillName }}.points" value="{{skill.points}}" style="width: 2em"  type="number"  /></td>
				<td class="skill"><a data-skill="{{key}}" class="roll roll-skill">&nbsp;</a></td>
			<!--<i style="font-size: 10px; font-style: italic; font-weight: bold;">{{skill.pool}}</i>-->
			</tr>
			<tr  class="skill-unskilled" title="{{ localizeDescription 'specialization' skill.specialization }}" class="special-{{key}}-collapsible"  {{#if (null skill.specialization) }}style="display: none"{{/if}}>
				<td style="padding-left: 50px" class="skill specialization">
					<select direct-data data-type="number" id="system.skills.{{ skillName }}.specialization">
						<option value="null"/>Select Specialization</option>
						{{#each value.specializations as |specialization idx| }}
						{{ var "specializationName" (specializationAsString specialization.id) }}
						<option value="{{specialization.id}}" title="{{ localizeDescription 'specialization' specializationName }}" {{#if (eq ../skill.specialization specialization.id )}}selected{{/if}}>
							{{ localizeName 'specialization' specializationName }}
						</option>
						{{/each}}
					</select>
				</td>
				<td class="skill specialization"><input value="{{#unless (null skill.specialization) }}{{add skill.points 2}}{{else}}{{/unless}}" style="width: 2em"  type="number" disabled/></td>
				<td class="skill specialization"><a data-skill="{{ key }}" data-specialization="{{skill.specialization}}" class="roll roll-specialization">&nbsp;</a></td>
				</td>
			</tr>
			<tr class="skill-unskilled" title="{{ localizeDescription 'specialization' skill.expertise }}" class="expertise-{{key}}-collapsible" {{#if (null skill.expertise) }}style="display: none" {{/if}}>
				<td style="padding-left: 50px" class="skill expertise">
					<select direct-data data-type="number" id="system.skills.{{ skillName }}.expertise">
						<option value="null"/>Select Expertise</option>
						{{#each value.specializations as |specialization idx| }}
						{{ var "specializationName" (specializationAsString specialization.id) }}
						{{!#unless (eq specialization.id ../skill.specialization )}} 
						<option value="{{specialization.id}}" title="{{ localizeDescription 'specialization' specializationName }}" {{#if (eq ../skill.expertise specialization.id )}}selected{{/if}}>
							{{ localizeName 'specialization' specializationName }}
						</option>
						{{!/unless}}
						{{/each}}
					</select>
				</td>
				<td class="skill specialization"><input value="{{#unless (null skill.expertise) }}{{add skill.points 3}}{{else}}{{/unless}}" style="width: 2em"  type="number" disabled/></td>
				<td class="skill specialization"><a data-skill="{{ key }}" data-specialization="{{skill.expertise}}" class="roll roll-specialization">&nbsp;</a></td>
				</td>
			</tr>
			{{/unless}}
		{{/eachMap}}
	</table>
</div>