<div class="section" style="display: inline-block; width: 40%; margin: 5px">
	<table style="align-self: start; border-collapse: collapse;">
		<tr>
			<td class="skill"><h3>Astral</h3></td>
			<td class="skill"><input direct-data id="system.skills.astral.points" value="{{actor.system.skills.astral.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.astral.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>Athletics</h3></td>
			<td class="skill"><input direct-data id="system.skills.athletics.points" value="{{actor.system.skills.athletics.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.athletics.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>biotech</h3></td>
			<td class="skill"><input direct-data id="system.skills.biotech.points" value="{{actor.system.skills.biotech.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.biotech.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td><h3>close_combat</h3></td>
			<td class="skill"><input direct-data id="system.skills.close_combat.points" value="{{actor.system.skills.close_combat.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.close_combat.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>con</h3></td>
			<td class="skill"><input direct-data id="system.skills.con.points" value="{{actor.system.skills.con.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.con.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>conjuring</h3></td>
			<td class="skill"><input direct-data id="system.skills.conjuring.points" value="{{actor.system.skills.conjuring.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.conjuring.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>cracking</h3></td>
			<td class="skill"><input direct-data id="system.skills.cracking.points" value="{{actor.system.skills.cracking.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.cracking.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>electronics</h3></td>
			<td class="skill"><input direct-data id="system.skills.electronics.points" value="{{actor.system.skills.electronics.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.electronics.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>enchanting</h3></td>
			<td class="skill"><input direct-data id="system.skills.enchanting.points" value="{{actor.system.skills.enchanting.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.enchanting.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>engineering</h3></td>
			<td class="skill"><input direct-data id="system.skills.engineering.points" value="{{actor.system.skills.engineering.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.engineering.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>exotic_weapons</h3></td>
			<td class="skill"><input direct-data id="system.skills.exotic_weapons.points" value="{{actor.system.skills.exotic_weapons.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.exotic_weapons.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>firearms</h3></td>
			<td class="skill"><input direct-data id="system.skills.firearms.points" value="{{actor.system.skills.firearms.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.firearms.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>influence</h3></td>
			<td class="skill"><input direct-data id="system.skills.influence.points" value="{{actor.system.skills.influence.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.influence.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>outdoors</h3></td>
			<td class="skill"><input direct-data id="system.skills.outdoors.points" value="{{actor.system.skills.outdoors.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.outdoors.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>perception</h3></td>
			<td class="skill"><input direct-data id="system.skills.perception.points" value="{{actor.system.skills.perception.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.perception.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>piloting</h3></td>
			<td class="skill"><input direct-data id="system.skills.piloting.points" value="{{actor.system.skills.piloting.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.piloting.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>sorcery</h3></td>
			<td class="skill"><input direct-data id="system.skills.sorcery.points" value="{{actor.system.skills.sorcery.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.sorcery.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>stealth</h3></td>
			<td class="skill"><input direct-data id="system.skills.stealth.points" value="{{actor.system.skills.stealth.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.stealth.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
		<tr>
			<td class="skill"><h3>tasking</h3></td>
			<td class="skill"><input direct-data id="system.skills.tasking.points" value="{{actor.system.skills.tasking.points}}" style="width: 2em"  type="number"  /></td>
			<td class="skill"><a data-pool="@actor.system.skills.tasking.pool" class="roll roll-formula">&nbsp;</a></td>
		</tr>
	</table>
</div>