<section>
	<div style="margin-right: 5px;">
		<div style="display: inline-block; width:100%;">
			<div class="section" style="width:60%">
				<table style="align-self: start; border-collapse: collapse;">
					<thead>
						<tr>
							<th colspan="2" style="text-align: left">Spell</th>
							<th style="text-align: left">Type</th>
							<th style="text-align: left">Duration</th>
							<th style="text-align: left">Combat</th>
							<th><a class="add-item" data-type="Spell" title="Add Spell"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
						</tr>
					</thead>
					{{#each actor.items as |item|  }}
					{{#if (eq item.type "Spell")}}
					<tr>
						<td style="text-align: left" nowrap="nowrap"><a data-spell-id="{{item.id}}" class="roll roll-spell">&nbsp;</a></td>
						<td style="text-align: left; width: 100%" nowrap="nowrap">{{item.name}}</td>
						<td style="text-align: left" nowrap="nowrap"></td>
						<td style="text-align: left" nowrap="nowrap"></td>
						<td style="text-align: right" nowrap="nowrap">
							<a class="edit-item" data-id="{{item.id}}" title="Edit Spell"><i class="fa fa-edit" aria-hidden="true"></i></a>
							<a class="remove-item" data-id="{{item.id}}" title="Remove Spell"><i class="fa fa-minus" aria-hidden="true"></i></a>
						</td>
							
						</td>
					</tr>
					{{/if}}
					{{/each}}
				</table>
			</div>
			<div class="section" style="width: 75px">
				<label for="system.attributes.magic.pool" class="attribute-label" title="Body">Magic</label>
				<i id="system.attributes.magic.pool" class="attribute-pool">
					{{actor.attributes.magic.pool}}
					<a data-attribute="magic" class="roll roll-attribute" style="background-size: 16px 16px;">&nbsp;</a>
				</i>
				
				<div class="flexrow">
					<div style="width: 20px">
						<label for="system.attributes.magic.base" style="display: block">base</label>
						<input direct-data id="system.attributes.magic.base" value="{{actor.attributes.magic.base}}" class="attribute-edit attribute-base" type="number"  />
					</div>
					<div style="width: 20px">
						<label for="system.attributes.magic.modifier" style="display: block">mod</label>
						<input direct-data id="system.attributes.magic.modifier" value="{{actor.attributes.magic.modifier}}" class="attribute-edit attribute-mod" type="number"  />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>