@import "layout.css";

.attributes {
	display: flex;
	flex-flow: row nowrap;
	background-color:#ccc;
}

.attribute-container {
	display: flex;
	flex-flow: column;
	width: 200px;
}

.attribute-label {
	text-align: center;
	display: block;
	font-size: 16px;
}

.attribute-pool {
	text-align: center;
	display: block;
	font-size: 32px;
	margin: auto;
}

.attribute-edit-container {
	display: flex;
	flex-flow: row nowrap;
}

.attribute-edit {
	display: block;
	width: 2em;
}

.attribute-base {
	width: 2em;
}

.attribute-mod {
	width: 2em;
}

.skill {
	width: 1%; 
	padding: 0; 
	margin: 0;
	text-align: left;
	font-size: 14px;
}

.expand-unskilled {
	cursor: pointer;
	padding-top: 10px;
}

.expand-unskilled:hover {
	cursor: pointer;
}


.skill-unskilled {
	display: none;
}


.matrix-action {
	width: 1%; 
	padding: 0; 
	margin: 0;
	text-align: left;
	white-space: nowrap;
}

.roll {
	position: relative;
	width: 16px;
	line-height: 16px;
	float: left;
	margin-right: 1px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-image: url(../icons/dice/die_6.png);
}

.chat-roll {
	position: relative;
	width: 24px;
	line-height: 24px;
	float: left;
	margin-right: 1px;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	font-size: 24px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-image: url(../icons/dice/die_6.png);
}

.roll-disabled {
	filter: grayscale(100%);
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}

.row-disabled {
	filter: grayscale(100%);
	opacity: 0.2;
}

.die_1 {
	background-image: url(../icons/dice/D6_1.svg);
}

.die_2 {
	background-image: url(../icons/dice/D6_2.svg);
}
.die_3 {
	background-image: url(../icons/dice/D6_3.svg);
}
.die_4 {
	background-image: url(../icons/dice/D6_4.svg);
}
.die_5 {
	background-image: url(../icons/dice/D6_5.svg);
}
.die_6 {
	background-image: url(../icons/dice/D6_6.svg);
}

.die_1_exploded {
	background-image: url(../icons/dice/D6_1_Plus.svg);
}
.die_2_exploded {
	background-image: url(../icons/dice/D6_2_Plus.svg);
}
.die_3_exploded {
	background-image: url(../icons/dice/D6_3_Plus.svg);
}
.die_4_exploded {
	background-image: url(../icons/dice/D6_4_Plus.svg);
}
.die_5_exploded {
	background-image: url(../icons/dice/D6_5_Plus.svg);
}
.die_6_exploded {
	background-image: url(../icons/dice/D6_6_Plus.svg);
}

.die_5_exploded_ignored {
	background-image: url(../icons/dice/D6_5_Plus_Minus.svg);
}

.die_5_ignored {
	background-image: url(../icons/dice/D6_5_Minus.svg);
}

.die_1_wild {
	background-image: url(../icons/dice/Wild_1.svg);
}

.die_2_wild {
	background-image: url(../icons/dice/Wild_2.svg);
}

.die_3_wild {
	background-image: url(../icons/dice/Wild_3.svg);
}

.die_4_wild {
	background-image: url(../icons/dice/Wild_4.svg);
}

.die_5_wild {
	background-image: url(../icons/dice/Wild_5.svg);
}

.die_6_wild {
	background-image: url(../icons/dice/Wild_6.svg);
}

.nuyen-icon {
	position: relative;
	width: 32px;
	line-height: 32px;
	float: left;
	margin-right: 1px;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	font-size: 24px;
	color: #000;
	font-weight: bold;
	background-image: url(../icons/yen.webp);
}

.edge-icon {
	position: relative;
	width: 32px;
	line-height: 32px;
	float: left;
	margin-right: 1px;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	font-size: 24px;
	color: #000;
	font-weight: bold;
	background-image: url(../icons/edge.webp);
}

.edge-roll {
	width: 48px;
	height: 48px;
	display: flex;
	flex-flow: column nowrap;
	justify-items: flex-start;
	position: relative;
	flex: 0.48; 
	margin-right: 10px; 
}
.edge-roll .edge-value {
	z-index: 1;
	position: relative;
	width: 48;
	top: 10px;
	text-align: center;
	font-size: large;
	color: white;
	font-weight: bold;
}
.edge-roll input {
	background-color: transparent; 
	width: 2em; 
	color: white; 
	border:0;
	outline:0;
}


.chat-formula {
	font-size: 12px; 
	font-style: italic;
}