.attributes {
	display: flex;
	flex-flow: row nowrap;
	background-color:#ccc;
}

.attributes.attribute {
	display: flex;
	flex-flow: column nowrap;
	margin: 1em;
}

.attributes.attribute.attribute-value {
	font-weight: bold;
	font-size: 24px;
}

.attributes.attribute.attribute-edit {
	width: 2em;
}
.attributes.attribute.attribute-edit input {
	width: 2em;
}
.attributes.attribute.attribute-edit label {
	font-size: 0.75rem;
}

.attributes.attribute.attribute-base {

}

.attributes.attribute.attribute-mod {
	
}

.skill {
	width: 1%; 
	padding: 0; 
	margin: 0;
	text-align: left;
}

.matrix-action {
	width: 1%; 
	padding: 0; 
	margin: 0;
	text-align: left;
	white-space: nowrap;
}



.roll {
	position: relative;
	width: 24px;
	line-height: 24px;
	float: left;
	margin-right: 1px;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	font-size: 16px;
	color: #000;
	font-weight: bold;
	text-align: center;
	background-image: url(../icons/dice/die_6.png);
}

.die_1 {
	background-image: url(../icons/dice/D6_1.svg);
}

.die_2 {
	background-image: url(../icons/dice/D6_2.svg);
}
.die_3 {
	background-image: url(../icons/dice/D6_3.svg);
}
.die_4 {
	background-image: url(../icons/dice/D6_4.svg);
}
.die_5 {
	background-image: url(../icons/dice/D6_5.svg);
}
.die_6 {
	background-image: url(../icons/dice/D6_6.svg);
}

.die_1_exploded {
	background-image: url(../icons/dice/D6_1_Plus.svg);
}
.die_2_exploded {
	background-image: url(../icons/dice/D6_2_Plus.svg);
}
.die_3_exploded {
	background-image: url(../icons/dice/D6_3_Plus.svg);
}
.die_4_exploded {
	background-image: url(../icons/dice/D6_4_Plus.svg);
}
.die_5_exploded {
	background-image: url(../icons/dice/D6_5_Plus.svg);
}
.die_6_exploded {
	background-image: url(../icons/dice/D6_6_Plus.svg);
}

.die_5_exploded_ignored {
	background-image: url(../icons/dice/D6_5_Plus_Minus.svg);
}

.die_5_ignored {
	background-image: url(../icons/dice/D6_5_Minus.svg);
}

.die_1_wild {
	background-image: url(../icons/dice/Wild_1.svg);
}

.die_2_wild {
	background-image: url(../icons/dice/Wild_2.svg);
}

.die_3_wild {
	background-image: url(../icons/dice/Wild_3.svg);
}

.die_4_wild {
	background-image: url(../icons/dice/Wild_4.svg);
}

.die_5_wild {
	background-image: url(../icons/dice/Wild_5.svg);
}

.die_6_wild {
	background-image: url(../icons/dice/Wild_6.svg);
}

/* The switch - the box around the slider */
.switch {

}
